<img src="../public/assets/img/angry-devil-burger-cartoon-mascot-clipart__k52146093.jpg" alt="Devil Burger">;

<h1>Burger Consumption Simulator</h1>

<div class="container">
    <div class="row">
        <div class=".col-md-6 toEat">
            <ul>
            {{!-- {{}} --}}
            <li>
                <p>placeholder1 <span><button type="button" class="btn btn-outline-danger">Consume</button></span></p>
            </li>
            {{!-- {{}} --}}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class=".col-md-6 theEaten">
            <ul>
                <li>
                    <p>placeholder2</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class=".col-md-12 theEaten">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Enter a Burger to Eat:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="button" class="btn btn-primary btn-lg">Order Up!</button>
        </div>
    </div>
</div>